$primary: #A30C33;
$font-dark: #444444;
$font-light: #FFFFFF;

@mixin font_menu {
  font-family: 'Proxima Nova Condensed', serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 20px;
}

@mixin drop_ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@font-face {
  font-family: 'Proxima Nova Condensed';
  src: url('./assets/fonts/Proxima Nova Condensed/proximanovacond_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova Condensed Bold';
  src: url('./assets/fonts/Proxima Nova Condensed/proximanovacond_bold.ttf') format('truetype');
}

* {
  font-family: 'Proxima Nova Condensed', serif;
}

body {
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.img-box {
  font-size: 0;
  img {
    width: 100%;
  }
}

.layout {
  &__wrapper {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
  }
}

.header {
  border: 1px solid rgba(217, 217, 217, 1);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.navigation {
  &__list {
    @include drop_ul;

    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  &__item {
    @include font_menu;

    color: $font-dark;
    cursor: pointer;

    a {
      text-decoration: none;
      color: currentColor;
    }
  }
}

.banner {
  &__wrapper {
    padding-top: 79px;
    padding-bottom: 75px;
    text-align: center;
  }
  &__heading {
    font-family: 'Proxima Nova Condensed Bold', serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0;

    color: $primary;
    margin: 0 0 29px;
  }
  &__description {
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0;
    color: $font-dark;

    margin: 0;
  }
}

.map {
  &__filter {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
  }
  &__body {
    max-width: 1190px;
    margin: 0 auto;
    padding: 90px 0 105px;
  }
}

.filter {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    @include drop_ul;

    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  &__item {
    @include font_menu;
    letter-spacing: 0.35px;
    color: $font-dark;

    cursor: pointer;
    padding: 33px 0 26px;
    border-bottom: 3px solid transparent;

    &:hover {
      color: $primary;
    }
    &_active {
      color: $primary;
      border-color: $primary;
    }
  }
}

.dropdown-activator {
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__label {
    font-family: 'Proxima Nova Condensed', serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.4px;

    color: $font-dark;
    margin-right: 16px;
  }
  &__icon {
    width: 24px;
  }
}

.mission {
  position: relative;
  background: $primary;
  padding: 140px 0;

  &:before,
  &:after {
    content: '';

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;

    width: 348.05px;
    height: 376.95px;
  }

  &:before {
    background: url("./assets/image/mission_pattern_left.png") no-repeat 50% 50%;
    left: -24px;
  }
  &:after {
    background: url("./assets/image/mission_pattern_right.png") no-repeat 50% 50%;
    right: -25px;
  }

  &__wrapper {
    position: relative;
    z-index: 10;
    color: $font-light;
    text-align: center;
  }
  &__heading {
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0.9px;
    margin: 0 0 40px;
  }
  &__prompt {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0;
    margin: 0;
  }
}

.directions {
  &__wrapper {
    padding: 100px 0;
  }
  &__heading {
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0.8px;
    color: $font-dark;

    margin: 0 0 55px;
    text-align: center;
  }
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 22px;
  }
  &__card {
    width: calc(100% / 2 - 10px);
  }
}
.direction-card {
  position: relative;
  overflow: hidden;

  &:hover {
    .direction-card__body {
      top: 0;
    }
  }
  &__body {
    position: absolute;
    top: 87%;
    right: 0;
    left: 0;
    min-height: 100%;

    padding: 28px 20px;
    background: rgba(45, 54, 83, 0.6);
  }
  &__label {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0;
    color: $font-light;

    margin-bottom: 20px;
  }
  &__description {
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0;
    color: $font-light;
  }
}

.motivation {
  &__wrapper {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
    padding: 10px 30px 3px;
  }
  &__heading {
    font-weight: 600;
    font-size: 40px;
    line-height: 126%;
    letter-spacing: 0.6px;
    color: $font-dark;

    text-align: center;
    margin: 0 0 50px;

    &_big {
      font-size: 56px;
      letter-spacing: 0.9px;
      line-height: 100%;
    }
    &_highlight {
      color: $primary;
    }
  }

  &__block {
    padding: 70px 0 75px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &:last-child {
      border-bottom: none;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 16px;
  }
  &__element {
    flex: 1;
    max-width: 178px;
    text-align: center;
  }
  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 110px;
    height: 110px;
    margin-bottom: 10px;

    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
  }
  &__label {
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0;
    color: $font-dark;
  }
}
