@font-face {
  font-family: "Proxima Nova Condensed";
  src: url("./assets/fonts/Proxima Nova Condensed/proximanovacond_regular.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova Condensed Bold";
  src: url("./assets/fonts/Proxima Nova Condensed/proximanovacond_bold.ttf") format("truetype");
}
* {
  font-family: "Proxima Nova Condensed", serif;
}

body {
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.img-box {
  font-size: 0;
}
.img-box img {
  width: 100%;
}

.layout__wrapper {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.header {
  border: 1px solid rgb(217, 217, 217);
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.navigation__item {
  font-family: "Proxima Nova Condensed", serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 20px;
  color: #444444;
  cursor: pointer;
}
.navigation__item a {
  text-decoration: none;
  color: currentColor;
}

.banner__wrapper {
  padding-top: 79px;
  padding-bottom: 75px;
  text-align: center;
}
.banner__heading {
  font-family: "Proxima Nova Condensed Bold", serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0;
  color: #A30C33;
  margin: 0 0 29px;
}
.banner__description {
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0;
  color: #444444;
  margin: 0;
}

.map__filter {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
}
.map__body {
  max-width: 1190px;
  margin: 0 auto;
  padding: 90px 0 105px;
}

.filter__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.filter__item {
  font-family: "Proxima Nova Condensed", serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.3px;
  line-height: 20px;
  letter-spacing: 0.35px;
  color: #444444;
  cursor: pointer;
  padding: 33px 0 26px;
  border-bottom: 3px solid transparent;
}
.filter__item:hover {
  color: #A30C33;
}
.filter__item_active {
  color: #A30C33;
  border-color: #A30C33;
}

.dropdown-activator__wrapper {
  display: flex;
  align-items: center;
}
.dropdown-activator__label {
  font-family: "Proxima Nova Condensed", serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.4px;
  color: #444444;
  margin-right: 16px;
}
.dropdown-activator__icon {
  width: 24px;
}

.mission {
  position: relative;
  background: #A30C33;
  padding: 140px 0;
}
.mission:before, .mission:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  width: 348.05px;
  height: 376.95px;
}
.mission:before {
  background: url("./assets/image/mission_pattern_left.png") no-repeat 50% 50%;
  left: -24px;
}
.mission:after {
  background: url("./assets/image/mission_pattern_right.png") no-repeat 50% 50%;
  right: -25px;
}
.mission__wrapper {
  position: relative;
  z-index: 10;
  color: #FFFFFF;
  text-align: center;
}
.mission__heading {
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0.9px;
  margin: 0 0 40px;
}
.mission__prompt {
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0;
  margin: 0;
}

.directions__wrapper {
  padding: 100px 0;
}
.directions__heading {
  font-weight: 600;
  font-size: 56px;
  line-height: 100%;
  letter-spacing: 0.8px;
  color: #444444;
  margin: 0 0 55px;
  text-align: center;
}
.directions__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 22px;
}
.directions__card {
  width: calc(50% - 10px);
}

.direction-card {
  position: relative;
  overflow: hidden;
}
.direction-card:hover .direction-card__body {
  top: 0;
}
.direction-card__body {
  position: absolute;
  top: 87%;
  right: 0;
  left: 0;
  min-height: 100%;
  padding: 28px 20px;
  background: rgba(45, 54, 83, 0.6);
}
.direction-card__label {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.direction-card__description {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0;
  color: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */
